<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/table.css">
    <title>Document</title>
</head>
<body>
    <div class="hscroll">
        <table width="70%"  cellspacing="" cellpadding="6">
        <tbody>
        <tr>
            <th>#</th>
            <th>Chart Number</th>
            <th>Song Title</th>
            <th>Artist Name</th>
            <th>Song Genre</th>
            <th>Country</th>
            <th>Date of Release</th>
            <th>Available in Store</th>
        </tr>
        <tr>
            <td>1</td>
            <td>99</td>
            <td>Buga</td>
            <td>Chris Daniel</td>
            <td>Afro hip hop</td>
            <td>Nigeria</td>
            <td>2021</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>2</td>
            <td>120</td>
            <td>kiliwani</td>
            <td>Shara Star</td>
            <td>Hip hop</td>
            <td>Ghana</td>
            <td>2022</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>3</td>
            <td>50</td>
            <td>Twni</td>
            <td>Jonny Drills</td>
            <td>Afro R&B</td>
            <td>Nigeria</td>
            <td>2022</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>4</td>
            <td>350</td>
            <td>Lewon</td>
            <td>Omar Lay</td>
            <td>Afro hip hop</td>
            <td>Nigeria</td>
            <td>2021</td>
            <td>Yes</td>
        </tr>
        </tbody>
        </table>
          
        </div>
        
</body>
</html>