{% extends 'base.html' %}

{% block content %} 
<div class="slideshow-container">
  <div class="">
    <img src="{{url_for('static', filename='images/music6.jpg')}}">
    <div class="text1">Career</div>
  </div>
</div>
<div id="sidecoln">
  <div class="sidebirth">
    <h3>Lagos Office</h3>
        <p>120 Azikiwe Street, Adekunle Cresent Lane, Ikeja, Lagos State.</p>
        <p>+2348030625679</p><br>
        <hr>
        <h3>PHC Office</h3>
        <p>100 Shell manifold Pipeline, Chrix Avenue, Port Harcourt.</p> 
        <p>+2348030625945</p>
  </div>
  <div class="sidebirth"></div>
</div>
<div class="regcoln"><div class="hscroll">
  <h3>Career Opportunities</h3>
  <hr>
  <table width="90%" align="center" cellspacing="4" cellpadding="6">
    We currently don't have any openning for the moment...

  </table>
    
  </div>

</div>
{% endblock %}