{% extends 'base.html' %}

{% block content %} 
<div class="slideshow-container">
  <div class="">
    <img src="{{url_for('static', filename='images/music2.jpg')}}">
    <div class="text1">Hit Songs</div>
  </div>
</div>
<div id="sidecoln">
  <div class="sidebirth1"></div>
  <div class="sidebirth2"></div>
</div>
<div class="regcoln">
  <div class="hscroll">
    <h3>Latest on the Billboard</h3>
    <hr>
    <table width="90%" align="center" cellspacing="10" cellpadding="10">
    <tbody>
    <tr>
        <th>Spot Number</th>
        <th>Song Title</th>
        <th>Artist Name</th>
        <th>Song Genre</th>
        <th>Country</th>
        <th>Date of Release</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Buga</td>
        <td>Chris Daniel</td>
        <td>Afro hip hop</td>
        <td>Nigeria</td>
        <td>2021</td>
    </tr>
    <tr>
        <td>2</td>
        <td>kiliwani</td>
        <td>Shara Star</td>
        <td>Hip hop</td>
        <td>Ghana</td>
        <td>2022</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Twni</td>
        <td>Jonny Drills</td>
        <td>Afro R&B</td>
        <td>Nigeria</td>
        <td>2022</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Lewon</td>
        <td>Omar Lay</td>
        <td>Afro hip hop</td>
        <td>Nigeria</td>
        <td>2021</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Tetede</td>
      <td>Jonny Evans</td>
      <td>Afro R&B</td>
      <td>Nigeria</td>
      <td>2022</td>
  </tr>
  <tr>
      <td>6</td>
      <td>Melo</td>
      <td>Omawumi</td>
      <td>Afro hip hop</td>
      <td>Nigeria</td>
      <td>2023</td>
  </tr>
    <tr>
      <td>7</td>
      <td>Yapa</td>
      <td>Bruno</td>
      <td>Afro hip hop</td>
      <td>Nigeria</td>
      <td>2023</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Yapa</td>
      <td>Bruno</td>
      <td>Afro hip hop</td>
      <td>Tanzania</td>
      <td>2023</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Melo</td>
      <td>Olamide</td>
      <td>Afro hip hop</td>
      <td>Nigeria</td>
      <td>2023</td>
    </tr>
    <tr>
      <td>10</td>
      <td>You are mine</td>
      <td>PickerMan</td>
      <td>Afro hip hop</td>
      <td>Nigeria</td>
      <td>2023</td>
    </tr>
    </tbody>
    </table>
      
    </div>
</div>
</div>
{% endblock %}