body {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  margin:0 auto;
}
/* Second Div */

.navbar {
    width: 100%;
    height: 70px;
    background-color: #1d1d1d;
}
#logo {
    width: 20%;
    height: 55px;
    float: left;
    color: aliceblue;
    background-color: #1d1d1d;
    margin-top: 5px;
    margin-left: 5px;
    padding-top: px;
    padding-left: 10px;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    font-family: "Audiowide", sans-serif;
    text-shadow: 2px 2px 2px #ababab
}
#menu {
    width: 30%;
    height: 50px;
    float: left;
    margin-top: 5px;
    margin-left: 150px;
}
menu, ul {
  display: flex;
  list-style: none;
  margin-left: 15px;
  width: 400px;
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}

li {
  flex-grow: 2;
  padding-bottom: 20px;
}
a {
  color: #f2f2f2;
  font-size: 1em;
  text-decoration: none;
}

button {
  width: 100%;
}
/* styling search bar */
.search input[type=text]{
    border-radius:25px;
    border: none;
    height: 30px;
    position: relative;
    margin-top: 1em;

}
     
.search{
    float:right;
    margin:7px;
    width:18%;
    height:65px;
    margin-right: 60px;
}
     
.search button{
    background-color: #eff4f8;
    color: #141313;
    float: right;
    padding: 5px 10px;
    width: fit-content;
    margin-right: 2px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 1.2em;
    height: 30px;
}